#page-liste-home {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #page-liste-home div.flat-list {

    padding: 20px;
    display: flex;

    margin-left: 200px;

    align-items: center;

    flex-direction: column;

    margin-top: 60px;

  }
  #page-liste-home div.flat-list div.container-card {
    margin-top: 60px;
  }

  #page-liste-home div.flat-list div.container-card div.card{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding: 20px 60px 20px 60px;
    margin-top: 20px;

    border-radius: 20px;

    background-color: #BDBDBD;
  }

  #page-liste-home div.flat-list div.container-card div.card div.image-product img {
    width: 250px;
    height: 250px;
    border-radius: 20px;
  }

  #page-liste-home div.flat-list div.container-card div.card div.body-product {
    padding: 10px;
    margin-right: 30px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  #page-liste-home div.flat-list div.container-card div.card div.body-product label {
    font-size: 23px;
  }

  #page-liste-home div.flat-list div.container-card div.card div.body-product a {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 2px 10px 2px 10px;
    border-radius: 5px;

    text-decoration: none;

    background-color: #333;

    transition: background-color 0.2s;

    color: #f2f2f2;
  }

  #page-liste-home div.flat-list div.container-card div.card div.body-product a:hover {
    background-color: rgb(126, 126, 126);
    color: #f2f2f2;
  }

  #page-liste-home div.flat-list div.menu-card {
    position: fixed;
    display: flex;
    justify-content: space-around;

    width: 650px;
    padding: 8px 10px 8px 10px;

    border-radius: 10px;

    background-color: #D13438;
    opacity: 0.95;
  }

  #page-liste-home div.flat-list div.menu-card a {
    display: flex;
    justify-content: center;
    align-items: center;

    text-decoration: none;

    background: #333 ;

    width: 150px;
    height: 35px;
    border-radius: 10px;

    transition: background-color 0.2s;

    color: #F2F2F2;
  }

  #page-liste-home div.flat-list div.menu-card a:hover {
    background-color: rgb(102, 97, 97);
  }

  