#page-home {
  display: flex;

  flex-direction: column;
}
#page-home div.main-container {
  display: flex;
  flex-direction: row;
}


#page-home div.main-container div div.header{
  margin-top: 24px;
  height: 44px;
  width: 624px;

  display: flex;
  justify-content: center;
  align-items: center;
}

#page-home div.main-container div div.header h3 {
  margin: 0px 0px 0px 36px;
  font-size: x-large;
}
  